# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff
*.sqlite3
media/

# Virtual environment
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# Environment variables
.env
